.CodeEditorField {
    width: 500px;
    margin-top: var(--gap-sm);
}

.CandidateInterviewUpdateFormFormCard {
    width: 500px;
}

.CandidateInterviewUpdateFormVacancyWrapper {
    margin-left: var(--gap-s);
}

.SelectWrapper {
    margin-left: var(--gap-m);
    display: flex;
    gap:  var(--gap-m);
    align-items: center;
}