.CandidateInterviewUpdateForm {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.CandidateInterviewUpdateFormCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}
