.DropdownRejectStatus {
    padding-bottom: 30px;
}

.DropdownPanelRejectStatus {
    width: 500px;
    max-height: 200px;
    overflow: scroll;
}

.StandartComment {
    padding-bottom: 10px;
}

.RejectInterviewHeaderStats {
    display: flex;
    background-color: '--text-secondary';
}

.Input{
    width: 600px;
}
