.TimePicker {
    display: flex;
    flex-direction: column;
}

.TimePickerSelectPanelWrapper {
    overflow-y: auto;
    max-height: 300px;
}

.TimePickerLabel {
    margin-left: var(--gap-s);
    color: var(--text-secondary);
}