.DurationPicker {
    display: flex;
    flex-direction: column;
}

.DurationPickerLabel {
    margin-left: var(--gap-s);
    color: var(--text-secondary);
}

.DurationPickerSelectPanelWrapper {
    overflow-y: auto;
    max-height: 300px;
}
