@import './variables';

$active-background: #{var(--primary9)};
$active-border: #{var(--gray7)};

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;

  .rbc-toolbar-label {
    flex-grow:1;
    padding: 0 10px;
    text-align: center;
  }

  & button {
    color: #{var(--gray10)};
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #{var(--gray4)};
    background-image: none;
    border: 1px solid $btn-border;
    padding: 5px 16px;
    border-radius: #{var(--radius-m)};
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;

    &:active,
    &.rbc-active {
      color: #{var(--primary1)};
      background-image: none;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      background-color: $active-background;
      border-color: $active-border;

      &:hover,
      &:focus {
        color: #{var(--primary1)};
        background-color: #{var(--primary10)};
        border-color: #{var(--gray7)};
      }
    }

    &:focus {
      color: $white;
      background-color: $active-background;
      border-color: $active-border;
    }

    &:hover {
      color: $white;
      background-color: #{var(--gray6)};
          border-color: $active-border;
    }
  }
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;

  > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc-rtl & > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc-rtl & > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  button + button {
    margin-left: -1px;
  }

  .rbc-rtl & button + button {
    margin-left: 0;
    margin-right: -1px;
  }

  & + &,
  & + button {
    margin-left: 10px;
  }
}
