@use "sass:math";

$accent: #17b978;
$gray: #222222;
$black: #1b1b1c;
$white: white;

$out-of-range-color: $white !default; // lighten(#333, 40%) !default;
$out-of-range-bg-color: darken($black, 5%) !default; // lighten(#333, 70%) !default;

$calendar-border: #555 !default;
$cell-border: $gray !default; // #ddd !default;

$border-color: #ccc !default;

$segment-width: percentage(math.div(1, 7)) !default;

$time-selection-color: white !default;
$time-selection-bg-color: rgba(0, 0, 0, 0.5) !default;
$date-selection-bg-color: rgba(0, 0, 0, 0.1) !default;

$event-bg: $accent !default; // #3174ad !default;
$event-border: darken(#3174ad, 10%) !default;
$event-outline: #3b99fc !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$btn-color: var(--btn-color) !default; // #373a3c !default;
$btn-bg: $accent !default; // #fff !default;
$btn-border: #333 !default; // #ccc !default;

$current-time-color: #74ad31 !default;

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: var(--today-highlight-bg) !default; // #eaf6ff !default;