.CvAttachFileInput {
    display: none;
}

.CvAttachFileInputIcon {
    color: var(--text-color);
}

.CvAttachFileInputText {
    cursor: pointer;
    color: var(--text-secondary);
}

.CvAttachFileInputText:hover {
    color: var(--text-color);
}
