.CreateOrUpdateSectionForm {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.CreateOrUpdateSectionFormSwitch {
    align-self: flex-start;
}

.CreateOrUpdateSectionFormCard {
    max-width: 620px;
}

.CreateOrUpdateSectionFormCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.CreateOrUpdateSectionFormTextArea {
    height: 300px;
}
