.Circle {
    display: flex;
    position: relative;
    z-index: 1;
    
    width: 31px;
    height: 31px;

    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 50%;
    
}
