.Tip {
    padding: var(--gap-m) var(--gap-xs) 0;
}

.TipIcon {
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--gap-s);
    color: var(--gray10);
}

.TipTitle {
    margin-right: var(--gap-s);
}
