.LayoutMain {
    height: 100vh;
    width: 100%;
    display: flex;
}

.Main {
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: auto;
}

.LayoutMainContent {
    overflow: auto;
    flex: 1;
    margin: var(--gap-xs) var(--gap-sm) 0;
    padding: var(--gap-m) var(--gap-s);
}

.PageAside {
    width: 230px; 
    flex-shrink: 0;
}
