.LayoutMain {
    width: 100%;
    display: flex;
    overflow: auto;
}

.Main {
    display: flex;
    flex-direction: column;
    flex:1;
    padding-top: 60.5px;
}

.LayoutMainContent {
    padding: var(--gap-m) var(--gap-l);
    align-items: center;
    flex: 1;
}

.PageAside {
    width: 230px; 
    flex-shrink: 0;
}
