.CandidateInterviewCreationForm {
    max-width: 600px;
}

.CandidateInterviewCreationFormCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.CandidateInterviewCreationFormStreamPanel {
    max-height: 300px;
    overflow: auto;
}
