.CodeEditorField {
    width: 500px;
    margin-bottom: var(--gap-xs);
}

.CandidateInterviewCreationFormFormCard {
    width: 500px;
}

.CandidateInterviewCreationFormVacancyWrapper {
    margin-left: var(--gap-s);
}

