.CodeEditorField {
    width: 500px;
    margin-bottom: var(--gap-xs);
}

.CandidateInterviewCreationFormFormCard {
    width: 500px;
}

.CandidateInterviewCreationFormVacancyWrapper {
    margin-left: var(--gap-s);
}

.SelectWrapper {
    margin-left: var(--gap-s);
    display: flex;
    gap:  var(--gap-m);
    align-items: center;
}