.CandidateKanbanCardInfo {
    align-items: center;
}

.CandidateKanbanCardDot.CandidateKanbanCardDot {
    color: inherit;
}

.CandidateKanbanCardContentRow {
    color: var(--text-ghost);
}

.CandidateKanbanCardText_highlighted {
    color: var(--text-color)
}

.CandidateKanbanCardComment {
    margin-top: var(--gap-s);
}