.ProblemCard {
    max-width: 900px;
}


.ProblemCardContent {
    border: 1px solid var(--card-background);
}

.ProblemCardAddToSectionButton {
    margin-top:  var(--gap-s);
}

.ProblemCard_archived {
    filter: grayscale(100%);
}

.Link {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-sm);
}

.HeaderInfo_align_right {
    display: flex;
    align-items: center;
}

.UpdatedTime {
    color: var(--text-ghost);
}

.TagWrapper {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--gap-sm);
}

.CardHeaderWrapper {
    display: flex;
    align-items: center;
}

.ProblemFavoriteStar {
    margin-bottom: var(--gap-sm);
}
