.ConfirmationModal {
    min-height: auto;
}

.ConfirmationModalContent {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.ConfirmationButtons {
    display: flex;
    gap: var(--gap-s);
}
