.InterviewContainer {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: var(--gap-m);
}

.InterviewCard {
    max-width: 900px;
}

.InterviewCardContent {
    border: 1px solid var(--card-background);
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}
