.AddOrUpdateCandidateFormCard {

    max-width: 700px;

}

.SelectVendor {
    padding-left: var(--gap-m);
    display: flex;
    background-color: var(--gray3);
    gap:  var(--gap-m);
    align-items: center;
}

.VendorsDropdown {
    max-height: 300px;
    overflow-y: auto;
}