.AddOrUpdateCandidateFormCard {
    max-width: 700px;
}

.AddOrUpdateCandidateFormCardFields {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.VendorsDropdown {
    max-height: 300px;
    overflow-y: auto;
}

.AddOrUpdateCandidateFormCardActions {
    margin-top: var(--gap-m);
}
