.TitleWrapper {
    display: flex;
    align-items: baseline;
    gap: var(--gap-s);
}

.Title {
    line-height: var(--gap-xxs);
}

.ChipsWrapper {
    transform: translateY(-5px);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xs);
}

.SubTitle {
    color: var(--text-secondary);
}
