.CommentView {
    padding-bottom: var(--gap-sm);
}

.CommentView:last-child {
    padding-bottom: 0;
}

.CommentViewAvatar {
    position: relative;
    z-index: 1;
}

.CommentViewCardInfo {
    display: flex;
    justify-content: space-between;
}

.CommentViewCardInfo:before {
    top: var(--gap-sm);
}

.CommentViewContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    word-break: keep-all;
}

.CommentViewMarkdown {
    overflow-x: auto;
}

.CommentViewMetaInfo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-s);
}

.CommentViewActionsItem {
    color: var(--text-secondary);
    display: flex;
    align-items: baseline;
    gap: var(--gap-s);
}

.CommentViewActionsItem_danger {
    color: var(--danger-500);
}

.CommentViewActions {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    margin-right: -10px;
}

.CommentViewHeader {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.CommentViewHeaderContent {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-s);
}

.CommentViewHeaderDot { 
    --dot-background: var(--card-foreground);
} 

.CommentViewPlaceholder {
    color: var(--text-ghost);
    font-style: italic;
}