.SectionFeedbackForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: var(--gap-m);
    max-width: 900px;
}

.ErrorText {
    padding: var(--gap-s) 0;
    color: var(--danger-500);
}

.SectionFeedbackHireBadge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-s);
}

.Button {
    display: flex; 
    gap: var(--gap-s);
    margin: var(--gap-xs) 0;
}

.MarkdownRenderer {
    margin-top: var(--gap-m);
    max-width: 900px;
    overflow: auto;
}
