.SectionFeedbackForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: var(--gap-m);
    max-width: 900px;
}

.ErrorText {
    padding: var(--gap-s) 0;
    color: var(--danger-500);
}

.SectionFeedback{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-m);
}

.SectionFeedbackHireBadge {
    display: flex;
    gap: var(--gap-s);
}

.Md {
    margin-bottom: var(--gap-m);
    overflow: auto;
}

.Button {
    display: flex; 
    gap: var(--gap-s);
    margin: var(--gap-m) 0;
}

