.ProblemCommentWrapper {
    width: 600px;
}

.ProblemMdWrapper {
    width: 900px;
    margin-top: var(--gap-s);
}

.ProblemTagsContainer {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.ProblemTitle {
    margin-top: 50px;
    display: flex;
    margin-bottom: 40px;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}
