.AddProblemText {
    color: var( --text-secondary);
}

.AddProblemToSectionModalHeader {

    position: sticky;
    padding-bottom: var(--gap-m);

}

.AddProblemToSectionModalContent {

    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;

    padding-top: var(--gap-m);

}

.AddProblemToSectionFiltersPanel {

    margin-left: -20px;

}
