.ActivityFeed {
    display: grid;
    row-gap: var(--gap-m);
    padding-bottom: 250px;
    position: relative;
}

.ActivityFeedItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    column-gap: var(--gap-m);
    position: relative;
}

.ActivityFeedContent {
    flex: 1;
}

.ActivityFeedItem:first-child {
    padding-top: 0px;
}

.ActivityFeedItem:first-child::before {
    content: '';
    position: absolute;
    height: var(--gap-l);
    left: 15px;
    top: 0;
    border-left: 1px solid var(--gray5);
    z-index: 0;
    transform: translateY(-100%);
}

.ActivityFeedItem::after {
    content: '';
    position: absolute;
    height: calc(100% + var(--gap-m));
    left: 15px;
    border-left: 1px solid var(--gray5);
    z-index: 0;
}

.ActivityFeedItem:last-child::after {
    content: none;
}

.ActivityFeedItem:first-child::before {
    content: none;
}
