.DebugAuthMessage {
    margin: var(--gap-m) 0;
}

.DebugAuthUserCards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-s);
}

.DebugAuthCard:hover {
    background-color: var(--gray1);
}
