.KanbanColumnTitle {
    display: flex;
    padding: var(--gap-m);
    position: sticky;
    top: var(--gap-m);
    background: var(--background);
    background: linear-gradient(var(--background) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.KanbanContainer {
    padding-bottom: var(--gap-m);
}

.CandidatesKanbanScroller {
    padding: 0 var(--gap-s);
    padding-top: calc(var(--gap-m) + var(--gap-xs));
    box-sizing: border-box;
}