.KanbanColumnTitleWrapper {
    display: flex;
    gap: var(--gap-xs);
}

.KanbanColumnTitle {
    display: flex;
    gap: var(--gap-xs);
    padding: var(--gap-m) 0;
    position: sticky;
    top: var(--gap-m);
    background: var(--background);
    background: linear-gradient(var(--background) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.KanbanContainer {
    padding-bottom: var(--gap-m);
}

.CandidatesKanbanScroller {
    padding: 0 var(--gap-s);
    padding-top: calc(var(--gap-m) + var(--gap-xs));
    box-sizing: border-box;
}

.StatusesKanbanHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ShowMore {
    color: var(--text-secondary);
}