.TableRow {
    gap: var(--gap-m);
}

.Badge {
    color: var(--gray-500);
}

.Checkbox {
    color: var(--text-secondary);
}

.Column {
    flex: 1;
}

.Column:last-child {
    justify-content: end;
}

.Column_center {
    justify-content: center;
}

.SectionResults {
    gap: var(--gap-m);
}