.TableRow {
    gap: var(--gap-m);
}

.Badge {
    color: var(--gray-500);
}

.Column {
    justify-content: center;
}

.Column:first-child {
    flex: 1;
    justify-content: start;
}

.Column:last-child {
    justify-content: end;
}


.SectionResults {
    gap: var(--gap-m);
}

.SectionResultsStatus {
    color: var(--text-secondary);
}

.SectionResultsStatus__hired {
    color: var(--status-finished);
}

.SectionResultsStatus__failed {
    color: var(--status-failed);
}